<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.goodsmodule.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.erp.domain.goodsmodule.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="purchase_price" jdbcType="DECIMAL" property="purchasePrice" />
    <result column="purchase_dept" jdbcType="VARCHAR" property="purchaseDept" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="mall_price" jdbcType="DECIMAL" property="mallPrice" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="stock_file_number" jdbcType="VARCHAR" property="stockFileNumber" />
    <result column="perserve1" jdbcType="VARCHAR" property="perserve1" />
    <result column="perserve2" jdbcType="VARCHAR" property="perserve2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, number, name, category_name, brand_name, model, purchase_price, purchase_dept, 
    market_price, mall_price, color, stock_file_number, perserve1, perserve2
  </sql>
  <select id="selectByExample" parameterType="com.erp.domain.goodsmodule.GoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.erp.domain.goodsmodule.GoodsExample">
    delete from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erp.domain.goodsmodule.Goods">
    insert into goods (id, number, name, 
      category_name, brand_name, model, 
      purchase_price, purchase_dept, market_price, 
      mall_price, color, stock_file_number, 
      perserve1, perserve2)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{categoryName,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{purchasePrice,jdbcType=DECIMAL}, #{purchaseDept,jdbcType=VARCHAR}, #{marketPrice,jdbcType=DECIMAL}, 
      #{mallPrice,jdbcType=DECIMAL}, #{color,jdbcType=VARCHAR}, #{stockFileNumber,jdbcType=VARCHAR}, 
      #{perserve1,jdbcType=VARCHAR}, #{perserve2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erp.domain.goodsmodule.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="purchaseDept != null">
        purchase_dept,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="mallPrice != null">
        mall_price,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="stockFileNumber != null">
        stock_file_number,
      </if>
      <if test="perserve1 != null">
        perserve1,
      </if>
      <if test="perserve2 != null">
        perserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseDept != null">
        #{purchaseDept,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="mallPrice != null">
        #{mallPrice,jdbcType=DECIMAL},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="stockFileNumber != null">
        #{stockFileNumber,jdbcType=VARCHAR},
      </if>
      <if test="perserve1 != null">
        #{perserve1,jdbcType=VARCHAR},
      </if>
      <if test="perserve2 != null">
        #{perserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erp.domain.goodsmodule.GoodsExample" resultType="java.lang.Integer">
    select count(*) from goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryName != null">
        category_name = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.brandName != null">
        brand_name = #{record.brandName,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasePrice != null">
        purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseDept != null">
        purchase_dept = #{record.purchaseDept,jdbcType=VARCHAR},
      </if>
      <if test="record.marketPrice != null">
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.mallPrice != null">
        mall_price = #{record.mallPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.stockFileNumber != null">
        stock_file_number = #{record.stockFileNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.perserve1 != null">
        perserve1 = #{record.perserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.perserve2 != null">
        perserve2 = #{record.perserve2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      brand_name = #{record.brandName,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      purchase_dept = #{record.purchaseDept,jdbcType=VARCHAR},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      mall_price = #{record.mallPrice,jdbcType=DECIMAL},
      color = #{record.color,jdbcType=VARCHAR},
      stock_file_number = #{record.stockFileNumber,jdbcType=VARCHAR},
      perserve1 = #{record.perserve1,jdbcType=VARCHAR},
      perserve2 = #{record.perserve2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erp.domain.goodsmodule.Goods">
    update goods
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseDept != null">
        purchase_dept = #{purchaseDept,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="mallPrice != null">
        mall_price = #{mallPrice,jdbcType=DECIMAL},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="stockFileNumber != null">
        stock_file_number = #{stockFileNumber,jdbcType=VARCHAR},
      </if>
      <if test="perserve1 != null">
        perserve1 = #{perserve1,jdbcType=VARCHAR},
      </if>
      <if test="perserve2 != null">
        perserve2 = #{perserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erp.domain.goodsmodule.Goods">
    update goods
    set number = #{number,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      purchase_dept = #{purchaseDept,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      mall_price = #{mallPrice,jdbcType=DECIMAL},
      color = #{color,jdbcType=VARCHAR},
      stock_file_number = #{stockFileNumber,jdbcType=VARCHAR},
      perserve1 = #{perserve1,jdbcType=VARCHAR},
      perserve2 = #{perserve2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="reduceById" parameterType="com.erp.domain.goodsmodule.Goods">
    UPDATE goods SET number=#{number} WHERE id = #{id}
  </update>


</mapper>