<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.goodsmodule.TbGoodsMapper">
  <resultMap id="BaseResultMap" type="com.erp.domain.goodsmodule.TbGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stock_file_number" jdbcType="VARCHAR" property="stockFileNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="purchase_price" jdbcType="DOUBLE" property="purchasePrice" />
    <result column="market_price" jdbcType="DOUBLE" property="marketPrice" />
    <result column="mall_price" jdbcType="DOUBLE" property="mallPrice" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="perserve1" jdbcType="VARCHAR" property="perserve1" />
    <result column="perserve2" jdbcType="VARCHAR" property="perserve2" />
    <result column="perserve3" jdbcType="VARCHAR" property="perserve3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, stock_file_number, name, category_id, brand_id, product_model, purchase_price, 
    market_price, mall_price, color, perserve1, perserve2, perserve3
  </sql>
  <select id="selectByExample" parameterType="com.erp.domain.goodsmodule.TbGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_goods
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.erp.domain.goodsmodule.TbGoodsExample">
    delete from tb_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erp.domain.goodsmodule.TbGoods">
    insert into tb_goods (id, stock_file_number, name, 
      category_id, brand_id, product_model, 
      purchase_price, market_price, mall_price, 
      color, perserve1, perserve2, 
      perserve3)
    values (#{id,jdbcType=INTEGER}, #{stockFileNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{productModel,jdbcType=VARCHAR}, 
      #{purchasePrice,jdbcType=DOUBLE}, #{marketPrice,jdbcType=DOUBLE}, #{mallPrice,jdbcType=DOUBLE}, 
      #{color,jdbcType=VARCHAR}, #{perserve1,jdbcType=VARCHAR}, #{perserve2,jdbcType=VARCHAR}, 
      #{perserve3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.erp.domain.goodsmodule.TbGoods">
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stockFileNumber != null">
        stock_file_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="productModel != null">
        product_model,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="mallPrice != null">
        mall_price,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="perserve1 != null">
        perserve1,
      </if>
      <if test="perserve2 != null">
        perserve2,
      </if>
      <if test="perserve3 != null">
        perserve3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stockFileNumber != null">
        #{stockFileNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productModel != null">
        #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="mallPrice != null">
        #{mallPrice,jdbcType=DOUBLE},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="perserve1 != null">
        #{perserve1,jdbcType=VARCHAR},
      </if>
      <if test="perserve2 != null">
        #{perserve2,jdbcType=VARCHAR},
      </if>
      <if test="perserve3 != null">
        #{perserve3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erp.domain.goodsmodule.TbGoodsExample" resultType="java.lang.Integer">
    select count(*) from tb_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stockFileNumber != null">
        stock_file_number = #{record.stockFileNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.productModel != null">
        product_model = #{record.productModel,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasePrice != null">
        purchase_price = #{record.purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="record.marketPrice != null">
        market_price = #{record.marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.mallPrice != null">
        mall_price = #{record.mallPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.perserve1 != null">
        perserve1 = #{record.perserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.perserve2 != null">
        perserve2 = #{record.perserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.perserve3 != null">
        perserve3 = #{record.perserve3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_goods
    set id = #{record.id,jdbcType=INTEGER},
      stock_file_number = #{record.stockFileNumber,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      brand_id = #{record.brandId,jdbcType=INTEGER},
      product_model = #{record.productModel,jdbcType=VARCHAR},
      purchase_price = #{record.purchasePrice,jdbcType=DOUBLE},
      market_price = #{record.marketPrice,jdbcType=DOUBLE},
      mall_price = #{record.mallPrice,jdbcType=DOUBLE},
      color = #{record.color,jdbcType=VARCHAR},
      perserve1 = #{record.perserve1,jdbcType=VARCHAR},
      perserve2 = #{record.perserve2,jdbcType=VARCHAR},
      perserve3 = #{record.perserve3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erp.domain.goodsmodule.TbGoods">
    update tb_goods
    <set>
      <if test="stockFileNumber != null">
        stock_file_number = #{stockFileNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productModel != null">
        product_model = #{productModel,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DOUBLE},
      </if>
      <if test="mallPrice != null">
        mall_price = #{mallPrice,jdbcType=DOUBLE},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="perserve1 != null">
        perserve1 = #{perserve1,jdbcType=VARCHAR},
      </if>
      <if test="perserve2 != null">
        perserve2 = #{perserve2,jdbcType=VARCHAR},
      </if>
      <if test="perserve3 != null">
        perserve3 = #{perserve3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erp.domain.goodsmodule.TbGoods">
    update tb_goods
    set stock_file_number = #{stockFileNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      product_model = #{productModel,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      market_price = #{marketPrice,jdbcType=DOUBLE},
      mall_price = #{mallPrice,jdbcType=DOUBLE},
      color = #{color,jdbcType=VARCHAR},
      perserve1 = #{perserve1,jdbcType=VARCHAR},
      perserve2 = #{perserve2,jdbcType=VARCHAR},
      perserve3 = #{perserve3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>