<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.usercenter.MgtDepartmentMapper">

    <resultMap id="baseResultMap" type="com.erp.domain.usercenter.MgtDepartment">
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="departname" jdbcType="VARCHAR" property="departname" />
        <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
    </resultMap>

    <select id="getList" resultMap="baseResultMap">
        SELECT md.id,md.departname FROM mgt_department md WHERE is_deleted = 0
    </select>
</mapper>
