<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.usercenter.MgtPositionMapper">

    <resultMap id="baseResultMap" type="com.erp.domain.usercenter.MgtPosition">
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="positionname" jdbcType="VARCHAR" property="positionname" />
        <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
    </resultMap>

    <select id="getList" resultMap="baseResultMap">
        SELECT mp.id,mp.positionname FROM mgt_position mp WHERE is_deleted = 0
    </select>
</mapper>
